@model ServiceBarberViewModel
@{
    var services = Model.Services;
    var barbers = Model.Barbers;
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show my-5 container" role="alert">
        <strong>Error!</strong> @TempData["msg"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.SelectedDate == null)
{
    ViewBag.SelectedDate = DateTime.Now;
}
<form method="post" asp-action="RandevuOlustur" asp-controller="Appointment">
    <section class="container my-5 border p-5 d-flex flex-column justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-secondary" asp-action="DecreaseDate" asp-controller="Appointment" type="submit">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <input readonly type="date" class="form-control" id="dateInput" name="date" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd")">
                    <input type="hidden" name="selectedDate" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-secondary" asp-action="IncreaseDate" asp-controller="Appointment" type="submit">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="form-group">
            <label>Services</label>
            <div class="form-check">
                @foreach (var item in services)
                {
                    <input class="form-check-input" type="checkbox"
                           value="@item.ServiceID"
                           id="service_@item.ServiceID"
                           name="ServiceID">
                    <label class="form-check-label" for="service_@item.ServiceID">
                        @item.Name
                    </label>
                    <br>
                }
            </div>
        </div>
    </section>

    <section class="container my-5">
            @foreach (var barber in barbers)
        {
            foreach (var schedule in barber.Schedules)
            {
                if (ViewBag.SelectedDate.DayOfWeek == schedule.DayOfWeek)
                {
                    var appointments = barber.Appointments
                    .Where(a => a.AppointmentDate.Date == ViewBag.SelectedDate.Date)
                    .Select(a => TimeZoneInfo.ConvertTimeFromUtc(a.AppointmentDate, TimeZoneInfo.Local).TimeOfDay)
                    .ToList();
                    var workingHours = Enumerable.Range(schedule.StartTime.Hour, schedule.EndTime.Hour - schedule.StartTime.Hour + 1)
                    .Select(h => new TimeSpan(h, 0, 0))
                    .ToList();
                    var availableHours = workingHours.Except(appointments).ToList();
                    if (availableHours.Any())
                    {
                        <div class="border d-flex row my-5">
                            <div class="col-md-4">
                                <img src="images/@barber.ImageUrl" class="card-img-top img-fluid" style="width: 15rem;" alt="">
                            </div>
                            <div class="col-md-8 p-5">
                                <p>Full Name: @barber.Name @barber.Surname</p>
                                <p>Phone Number: @barber.PhoneNumber</p>
                                <p>Specialization: @barber.Specialization</p>
                                <p>Rating: @barber.Rating</p>
                                <input type="hidden" name="BarberID" value="@barber.BarberID" />
                                <div>
                                    <p>Available hours:</p>
                                    @foreach (var hour in availableHours)
                                    {
                                        <button type="submit" class="btn btn-outline-info p-2" name="selectedTime" value="@hour.ToString(@"hh\:mm")">@hour.ToString(@"hh\:mm")</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
    </section>
</form>