@model List<Barber>
@if (TempData["msg"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show my-5 container" role="alert">
        <strong>Message </strong> @TempData["msg"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<section class="container my-5">
    <a asp-action="Index" asp-controller="Admin" class="btn-primary btn">Go Back</a>
    <a asp-action="CreateBarber" asp-controller="Admin" class="btn btn-primary my-3">Create Barber</a>
    @foreach (var barber in Model)
    {
        <div class="border d-flex row my-5">
            <div class="col-md-4">
                <img src="~/images/@barber.ImageUrl" class="card-img-top img-fluid" style="width: 15rem;" alt="">
            </div>
            <div class="col-md-8">
                <p>Full Name: @barber.Name @barber.Surname</p>
                <p>Phone Number: @barber.PhoneNumber</p>
                <p>Specialization: @barber.Specialization</p>
                <p>Rating: @barber.Rating</p>
                <a class="btn btn-outline-info" asp-action="EditBarber" asp-controller="Admin" asp-route-id="@barber.BarberID">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteBarber" asp-controller="Admin" asp-route-id="@barber.BarberID">X</a>
            </div>
        </div>
    }
</section>